@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-blue: #051540;
  --dark-blue: #051540;
  --mid-blue: #1e2742;
  --light-blue: #3b82f6;
  --accent-blue: #60a5fa;
  --text-light: #e5e7eb;
  --text-lighter: #9ca3af;
  --white: #FFFFFF;
  --font-primary: 'Inter', sans-serif;
  --border-radius: 12px;
  --border-radius-lg: 20px;
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  /* color: var(--text-light); */
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}